<div class="home-container">
    <br /><br />    
    <h1>Welcome to the Online Voting System</h1>
    <br />
    <p class="intro">
      This system provides a seamless and secure way to manage elections, voters, candidates, and statistics. 
      Cast your vote and view election info with ease.
    </p>
    <br />
    <hr />
    <br />
    <div class="cards">
      <a class="card" routerLink="/election">
        <h3>Election</h3>
        <p>View and manage elections.</p>
      </a>
      <a class="card" routerLink="/voter">
        <h3>Voter</h3>
        <p>View and Manage voter details.</p>
      </a>
      <a class="card" routerLink="/candidate">
        <h3>Candidate</h3>
        <p>View and Manage candidate details.</p>
      </a>
      <a class="card" routerLink="/candidate-election">
        <h3>Register for Election</h3>
        <p>Register candidates for elections.</p>
      </a>
      <a class="card" routerLink="/voter-election-candidate">
        <h3>Vote</h3>
        <p>Cast your vote.</p>
      </a>
      <a class="card" routerLink="/stats">
        <h3>Statistics</h3>
        <p>View election statistics.</p>
      </a>
    </div>
  </div>
  